<section class="contactbnr py px">
  <div class="inner">
    <div class="mx-auto">
      <div class="flexbox">
        <div class="txtbox">
          <p class="section_subttl">お問い合わせ</p>
          <p class="section_ttl text-h1 mb-30px color-black">Contact</p>
          <p class="num">TEL.011-375-8427<br />FAX.011-375-8417</p>
        </div>
        <a
          href="{{ dir }}/contact/index.html"
          class="btn bg-black rounded rounded-full h-fit mx-auto"
          >お問い合わせはコチラ　　→</a
        >
      </div>
    </div>
  </div>
</section>
