<section class="entry-bnr px">
  <div class="inner max-w-1000px mx-auto">
    <div class="flexbox">
        <div class="entry">
            <div class="txtbox">
                <p class="ttl">エントリーはこちら</p>
                <p class="">こちらのページからエントリーできます</p>
            </div>
            <a href="{{dir}}/entry/index.html" class="btn bg-main rounded">エントリー</a>
        </div>
        <div class="contact">
            <div class="txtbox">
                <p class="desc">採用に関するお問い合わせ先はこちら</p>
            </div>
            <a href="{{dir}}/contact/index.html" class="btn bg-white rounded">お問い合わせ</a>
        </div>
    </div>
  </div>
</section>