<footer class="px my">
  <div class="inner">
    <div class="flexbox">
      <div class="logo">
        <a href="{{ dir }}/index.html" class="logo_link"
          ><img src="{{ dir }}/img/logo-footer.png" alt="logo"
        /></a>
      </div>
      <div class="navbox">
        <nav>
          <ul class="nav_list">
            <li class="nav_item">
              <a href="{{ dir }}/index.html#about" class="nav_link"
                >リベリットについて</a
              >
            </li>
            <li class="nav_item">
              <a href="{{ dir }}/index.html#business" class="nav_link"
                >業務内容</a
              >
            </li>
            <li class="nav_item">
              <a href="{{ dir }}/index.html#access" class="nav_link"
                >アクセス</a
              >
            </li>
            <li class="nav_item">
              <a href="{{ dir }}/contact/index.html" class="nav_link"
                >お問い合わせ</a
              >
            </li>
            <li class="nav_item">
              <a href="{{ dir }}/privacy/index.html" class="nav_link"
                >プライバシーポリシー</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <a href="tel:0144-83-6615" class="btn ml-auto mb-20px"
      ><img src="{{ dir }}/img/common/line-icon.png" alt="line-icon"
    /></a>
    <p class="copyright">
      Copyright © Rebelitto Co., Ltd.　All Rights Reserved
    </p>
  </div>
  <script src="{{ dir }}/loader/loader.js"></script>
  <script src="{{ dir }}/js/scroll-trigger.js"></script>
  <script src="{{ dir }}/js/animation.js"></script>
</footer>
