{% if page_id=='top' %}
<section id="interview" class="interview-content">
    <div class="inner">
        <div class="txtbox py px">
            <p class="section_ttl text-h1">interview</p>
            <p class="section_subttl mb-30px">社員インタビュー</p>
            <p class="section_desc mb-30px">王子工営北海道株式会社にて自分の信念を持ち活躍している先輩たちがいます。<br />どんな想いで働いているのか、エピソードを交えてご紹介します。</p>
            <a href="{{dir}}/interviews/index.html" class="btn mx-auto">詳しく見る ＞</a>
        </div>
        <div class="slider">
            <div class="slide">
                <a href="{{dir}}/interviews/interview-03/index.html" class="slider_link">
                <img src="{{ dir }}/img/top/interview/img_03.png" alt="interview-img_02" />
                </a>
            </div>
            <div class="slide">
                <a href="{{dir}}/interviews/interview-04/index.html" class="slider_link">
                <img src="{{ dir }}/img/top/interview/img_04.png" alt="interview-img_01" />
                </a>
            </div>
            <div class="slide">
                <a href="{{dir}}/interviews/interview-05/index.html" class="slider_link">
                <img src="{{ dir }}/img/top/interview/img_05.png" alt="interview-img_03" />
                </a>
            </div>
            <div class="slide">
                <a href="{{dir}}/interviews/interview-06/index.html" class="slider_link">
                <img src="{{ dir }}/img/top/interview/img_06.png" alt="interview-img_04" />
                </a>
            </div>
            <div class="slide">
                <a href="{{dir}}/interviews/interview-01/index.html" class="slider_link">
                <img src="{{ dir }}/img/top/interview/img_01.png" alt="interview-img_05" />
                </a>
            </div>
            <div class="slide">
                <a href="{{dir}}/interviews/interview-02/index.html" class="slider_link">
                <img src="{{ dir }}/img/top/interview/img_02.png" alt="interview-img_06" />
                </a>
            </div>
        </div>
    </div>
</section>
{% else %}
<section id="interview" class="interview-content interview-sub_slider">
    <div class="inner">
        <div class="txtbox py px">
            <p class="section_ttl text-h1">interview</p>
            <p class="section_subttl mb-30px">社員インタビュー</p>
            <p class="section_desc mb-30px">王子工営北海道株式会社にて自分の信念を持ち活躍している先輩たちがいます。<br />どんな想いで働いているのか、エピソードを交えてご紹介します。</p>
            <a href="{{dir}}/interviews/index.html" class="btn mx-auto">詳しく見る ＞</a>
        </div>
        <div class="slider">
            <div class="slide">
                <a href="{{dir}}/interviews/interview-03/index.html" class="slider_link">
                <img src="{{ dir }}/img/top/interview/img_03-2.png" alt="interview-img_02" />
                </a>
            </div>
            <div class="slide">
                <a href="{{dir}}/interviews/interview-04/index.html" class="slider_link">
                <img src="{{ dir }}/img/top/interview/img_04-2.png" alt="interview-img_01" />
                </a>
            </div>
            <div class="slide">
                <a href="{{dir}}/interviews/interview-05/index.html" class="slider_link">
                <img src="{{ dir }}/img/top/interview/img_05-2.png" alt="interview-img_03" />
                </a>
            </div>
            <div class="slide">
                <a href="{{dir}}/interviews/interview-06/index.html" class="slider_link">
                <img src="{{ dir }}/img/top/interview/img_06-2.png" alt="interview-img_04" />
                </a>
            </div>
            <div class="slide">
                <a href="{{dir}}/interviews/interview-01/index.html" class="slider_link">
                <img src="{{ dir }}/img/top/interview/img_01-2.png" alt="interview-img_05" />
                </a>
            </div>
            <div class="slide">
                <a href="{{dir}}/interviews/interview-02/index.html" class="slider_link">
                <img src="{{ dir }}/img/top/interview/img_02-2.png" alt="interview-img_06" />
                </a>
            </div>
        </div>
    </div>
</section>
{% endif %}