<section class="top_mv px">
  <div class="inner">
    <div class="txtbox">
      <p class="mv_ttl">未来の安心を。</p>
      <p class="mv_subttl">確かな技術で守る。</p>
    </div>
    <div class="imgbox">
      <img src="{{dir}}/img/top/mv/img_02.png" alt="img_02">
      <img src="{{dir}}/img/top/mv/img_03.png" alt="img_03">
    </div>
  </div>
</section>
