AuthType Basic
AuthName "Secure Content"
AuthUserFile /home/philippines01/www/philidev/rebelitto-corporate-11ty/.htpasswd
require valid-user

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://philidev.softnext.co.jp/oji-machinery-hokkaido-recruit/$1 [R,L]