---
layout: layouts/news_base.njk
pagination: 
  data: collections.news
  size: 8
  alias: news
permalink: "news/{{pagination.pageNumber + 1}}/index.html"
dir: ../..
---

<ul class="news-list">
  {% for item in news %}
  <li class="news-item">
    <a  href="{{dir}}{{ item.url }}index.html">
      <div class="news-img">
        <img src="{{dir}}/img/news/{{ item.data.page_img }}.png" alt="{{ item.data.page_img }}">
      </div>
			<div class="news-group flex-col gpy10">
				<p class="news-date f18">{{ item.data.postDate }}</p>
				<p class="ttl full-w f18">{{ item.data.postTitle }}</p>
			</div>
			</a>
  </li>
  {% endfor %}
</ul>

<!-- <ul class="news__pagination">
  <li>{% if pagination.href.previous %}
    <a class="prev-page" href="{{ dir }}/{{ pagination.href.previous }}">&lt;&lt;</a>{% endif %}
  </li>
  {% for page_entry in pagination.pages %} {%- set page_url = pagination.hrefs[loop.index0] -%}
  <li><a href="{{ dir }}/{{ page_url }}" {% if page.url == page_url %} aria-current="page"{% endif %}>
    {{ loop.index }}
    </a>
  </li>
  {% endfor %}
  <li>
    {% if pagination.href.next %}
    <a class="next-page" href="{{ dir }}/{{ pagination.href.next }}">>></a>
    {% endif %}
  </li>
</ul> -->

</section>

