---
title: お問い合わせ
page_id: contact
mv_ttl: お問い合わせ
mv_subttl: CONTACT
mv_img: mv.png
mv_breadcrumb: お問い合わせ
dir: ..
---

{% include "header.njk" %}
<main class="bg-grey">
  <article>
    {% include "lower-mv.njk" %}
    <section class="px my py">
      <div class="inner">
        <p class="section_ttl text-h1 text-center color-main">お問い合わせフォーム</p>
        <p class="text-center mb-60px">下記のフォームに必要事項をご記入の上「内容の確認」ボタンを押してください。<br>必須項目と記載している箇所がありますので必ずご記入ください。</p>

        {% include "sec/contact-block.njk" %}
      </div>
    </section>
  </article>
</main>
{% include "footer.njk" %}
